<router-outlet></router-outlet>
<h3>Display in Material</h3>
<div class="mat-display-4">Display 4</div>
<h3>Buttons in Material</h3>
<div>
  <button mat-button>Material Button</button>
  <button mat-raised-button>Raised Button</button>
</div>
<div>
  <button mat-icon>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MiniFab</button>
</div>
<br>
<div>
  <button color="primary" mat-button>Primary Button Color</button>
  <button color="accent" mat-button>Accent Button Color</button>
  <button color="warn" mat-button>Warn Button Color</button>
  <button color="primary" mat-raised-button>Primary Button Color</button>
  <button color="accent" mat-raised-button>Accent Button Color</button>
  <button color="warn" mat-raised-button>Warn Button Color</button>
</div>
<br>
<h3>Button Toggle Elements - Said to be better than checkboxes</h3>
<div>
  <mat-button-toggle #togglebtn>Toggle</mat-button-toggle>
  What is the value: {{togglebtn.checked}}
</div>
<br/>
<div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  What is the value: {{toggleGroup.value}}
</div>
<br/>
<h2>However if I want this to act like checkboxes then:</h2>
<div>
  <mat-button-toggle-group #toggleGroup2="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  What is the value: {{toggleGroup2.value}}
</div>
<br>
<h2>Mat Icons</h2>
<div>
  <mat-icon>grade</mat-icon>
</div>
<div>
  <mat-icon color="primary">get_app</mat-icon>
</div>
<h2>Badges (Moved them around and changed the sizes)</h2>
<div class="text-center">
<div>
  <span matBadge="5">Notifications</span>
</div>
<br/>
<div>
  <span matBadge="5" matBadgePosition="below before" matBadgeSize="large">Notifications</span>
</div>
<br/>
<div>
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<br>
<div>
  <span [matBadge]="notifications" [matBadgeHidden]="notifications==0" matBadgePosition="above after" matBadgeOverlap="false">Notifications</span>
</div>
</div>
